'use strict'

const Command = use('Command')

class {{name}} extends Command {

  static get signature () {
    return ''
  }

  static get description () {
    return 'Tell something helpful about this command'
  }

  * handle (args, options) {
    this.info('Dummy implementation for {{name}} command')
  }

}

module.exports = {{name}}
