'use strict'

const Schema = use('Schema')

class {{className}}TableSchema extends Schema {
  {{#connection}}

  static get connection () {
    return '{{connection}}'
  }
  {{/connection}}

  up () {
  {{#create}}
    this.create('{{table}}', (table) => {
      table.increments()
      table.timestamps()
    })
  {{/create}}
  {{^create}}
    this.table('{{table}}', (table) => {
      // alter {{table}} table
    })
  {{/create}}
  }

  down () {
  {{#create}}
    this.drop('{{table}}')
  {{/create}}
  {{^create}}
    this.table('{{table}}', (table) => {
      // opposite of up goes here
    })
  {{/create}}
  }

}

module.exports = {{className}}TableSchema
